<link href="/static/css/dashboard.css" rel="stylesheet">
 <style type="text/css">
 .side-nav {
    position: fixed;
    top: 51px;
    left: 225px;
    width: 225px;
    height: 100%;
    margin-left: -225px;
    border: medium none;
    border-radius: 0px;
    overflow-y: auto;
    background-color: #222;
    padding: 0px;
  }
.menu-side{
     color: #9d9d9d;
}
.menu-side:hover{
    color: #58B1C3;
    background-color: red;
}

.side-nav>li>ul>li>a {
  display: block;
  padding: 10px 15px 10px 38px;
  text-decoration: none;
  color: #999;
}

 .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: red !important;
    }

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}
.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}
</style>

<!--ul class="side-nav nav nav-sidebar sidebar">
    <li style="margin-top: 5px;">
        <a href="javascript:;" data-toggle="collapse" data-target="#student" class="menu-side"><i class="fa fa-fw fa-arrows-v"></i>Gerenciar Alunos<i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="student" class="collapse">
            <li class="menu-side">
                <a href="/students/new" class="menu-side">Inserir Aula</a>
            </li>
             <li class="menu-side">
                <a href="/student/searchStudent" class="menu-side">Buscar Aula</a>
            </li>
        </ul>
    </li>
    
    <li style="margin-top: 5px;">
        <a href="javascript:;" data-toggle="collapse" data-target="#photos" class="menu-side"><i class="fa fa-fw fa-arrows-v"></i>Gerenciar Fotos<i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="photos" class="collapse">
            <li class="menu-side">
                <a href="/gallerys/new" class="menu-side">Inserir Photos</a>
            </li>
             <li class="menu-side">
                <a href="#" class="menu-side">Buscar Aula</a>
            </li>
        </ul>
    </li>
    <li style="margin-top: 5px;">
        <a href="javascript:;" data-toggle="collapse" data-target="#blog" class="menu-side"><i class="fa fa-fw fa-arrows-v"></i>Gerenciar Blog<i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="blog" class="collapse">
            <li class="menu-side">
                <a href="/blogs/new" class="menu-side">Inserir Aula</a>
            </li>
             <li class="menu-side">
                <a href="#" class="menu-side">Buscar Aula</a>
            </li>
        </ul>
    </li>
</ul-->

 <ul class="nav navbar-nav side-nav">
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#student"><i class="fa fa-fw fa-arrows-v"></i>Gereciar Alunos<i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="student" class="collapse">
            <li>
                <a href="/students/new">Inserir Aluno</a>
            </li>
            <li>
                <a href="/students/home">Buscar Alunos</a>
            </li>
        </ul>
    </li>
     <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#blog"><i class="fa fa-fw fa-arrows-v"></i>Gereciar Blog<i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="blog" class="collapse">
            <li>
                <a href="/blogs/new">Inserir Post</a>
            </li>
            <li>
                <a href="/blogs/home">Buscar Posts</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#photo"><i class="fa fa-fw fa-arrows-v"></i>Gereciar Fotos<i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="photo" class="collapse">
            <li>
                <a href="/gallerys/new">Inserir Fotos</a>
            </li>
            <li>
                <a href="/gallerys/home">Buscar Fotos</a>
            </li>
        </ul>
    </li>                      
</ul>

    <!-- jQuery -->
    <script src="http://ironsummitmedia.github.io/startbootstrap-sb-admin/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="http://ironsummitmedia.github.io/startbootstrap-sb-admin/js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="http://ironsummitmedia.github.io/startbootstrap-sb-admin/js/plugins/morris/raphael.min.js"></script>
    <script src="http://ironsummitmedia.github.io/startbootstrap-sb-admin/js/plugins/morris/morris.min.js"></script>
    <script src="http://ironsummitmedia.github.io/startbootstrap-sb-admin/js/plugins/morris/morris-data.js"></script>